@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-backWhite;
  @apply font-sans;
  @apply font-semibold;
}

#navbar a{
  @apply text-white;
  padding: 25px;

}

.formContainer div{
  flex:0 0 33.33%;
  padding: 10px;
  
}

