@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  @apply bg-gray-300;
  @apply font-mono
}

#navbar a{
  color: white;
  padding: 10px;

}

.formContainer div{
  flex:0 0 33.33%;
  padding: 10px;
  
}

